.app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width: 100vw;
}

.margin {
  margin-left: 70px;
}

.text--center {
  text-align: center
}

.caption-img {
  width: 35%;
}

.caption-winner {
  border-left: 10px solid rgb(7, 255, 7);
  border-right:  10px solid rgb(7, 255, 7);
  border-top:  10px solid rgb(7, 255, 7);
  border-bottom:  10px solid rgb(7, 255, 7);

}

.caption-loser {
  border-left: 10px solid rgb(255, 0, 0);
  border-right: 10px solid rgb(255, 0, 0);
  border-top: 10px solid rgb(255, 0, 0);
  border-bottom: 10px solid rgb(255, 0, 0);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  margin-left: 30px;
  margin-right: 30px;
}

.input-buttons {
  margin-top: 30px;
}

.input-button {
  width: 25vw;
}

h1 {
  font-size: 40px;
}

select {
  -webkit-appearance: menulist-button;
  height: 50px;
}
