.app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width: 100vw;
}

.margin {
	margin-left: 70px;
}

.text--center {
  text-align: center
}

.caption-img {
  width: 35%;
}

.caption-winner {
  border-left: 3px solid green;
  border-right: 3px solid green;
  border-top: 3px solid green;
  border-bottom: 3px solid green;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  margin-left: 30px;
  margin-right: 30px;
}

.input-buttons {
  margin-top: 30px;
}

.input-button {
  width: 25vw;
}

h1 {
  font-size: 40px;
}

select {
  -webkit-appearance: menulist-button;
  height: 50px;
}
