<html>
    <head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
        <title>NEXT - Caption Comparator</title>
    </head>
    <body class="app">
	<div class="text--center margin">
        	<h1 style="margin-top: 40px">NEXT Caption Comparator</h1>
		<h3>Enter your caption and compare it against our bank of captions to see whos is funnier!</h3>
	</div>
	<hr>
	<div class="margin">
		<img class="caption-img center" src="{{ url }}"/>
	</div>
	<form action="/next_cartoon" method="post" class="margin">
		<button class="center" value="{{ id }}" name="id" type="submit">Next Cartoon</button>
	</form>
	<hr>
	<form action="/compare_captions" method="post" class="flex-container input-buttons margin">
		<input type="text" name="user_caption" placeholder="Enter your caption here..." class="input-button {{ 'caption-winner' if winner == 0 }}" name="user_input">
		<select class="input-button {{ 'caption-winner' if winner == 1 }}" name="selected_caption">
			{% for option in options %}
			<option value="{{ option }}">{{ option }}</option>
			{% endfor %}
		</select>
		<button type="submit" value="{{ id }}" name="id">Compare Captions</button>
	</form>
	<hr>
	<div class="margin">
		<h1 style="margin-top: 20px" class="text--center">Results</h1>
		{% if winner == -1 %}
		<h3 class="text--center">No results to display at this time</h3>
		{% else %}
		<div style="margin-left: 120px">
			{% if confidence is not none %}
			<div>
				<h2>Statistics</h2>
				<p>Confidence: {{ confidence * 100 }}%</p>
			</div>
			{% endif %}
			{% if similar is not none %}
			<div>	
				<h2>Most Similar</h2>
				<p>These captions are the most similar to your entered caption:</p>
				<ul>
				{% for s in similar %}
					<li>{{ s }}</li>
				{% endfor %}
				</ul>
			</div>
			{% endif %}
		</div>
		{% endif %}
	</div>
    </body>
</html>
